/* 这将注入Tailwind的基样式和通过插件注册的任何基样式 */
@tailwind base;

/* 这将注入Tailwind的组件类和由插件注册的任何组件类 */
@tailwind components;

/* 这将注入Tailwind的实用程序类和通过插件注册的任何实用程序类 */
@tailwind utilities;

/* 使用这个指令来控制Tailwind注入悬停，聚集响应，暗色模式，和其他变形模式的类 */
@tailwind variants;

/* 添加基类 */
@layer base{
  h1{
    @apply text-2xl
  }

  h2{
    @apply text-xl
  }
}



/* 添加组件类 */

/* @layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
} */

/* 添加自定义实用程序 */
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}



/* 添加始终包含的样式 不使用指令@layer */

/* .card { } */
