<!-- 
    条件渲染：
        1.v-if
            写法：
                1）v-if="表达式"
                1）v-else-if="表达式"
                1）v-else="表达式"
            适用于：切换频率较低的场景
            特点：不展示的DOM元素直接被移除
            注意：v-if可以和v-else-if、v-else一起使用，但要求结构不能被“打断”
        2.v-show
            写法：v-show:"表达式"
            适用于：切换频率较高的场景
            特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
        3.ps：
            使用v-if时，元素可能无法获取到，而使用v-show一定可以获取到
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="./page/vue.js"></script>
 </head>
 <body>
    
    <div id="root">

        <h2>当前的n值为：{{n}}</h2>
        <button @click="n++">点我n+1</button>
        <!-- 使用v-show做条件渲染 -->
        <h1 v-show="false">欢迎来到{{name}}</h1><br><br>
        <h1 v-show="1===1">欢迎来到{{name}}</h1><br><br>

        <!-- 使用v-if做条件渲染 -->
        <h1 v-if="false">欢迎来到{{name}}</h1><br><br>
        <h1 v-if="1===1">欢迎来到{{name}}</h1><br><br>
<!-- 
        <div v-show="n===1">Angular</div>
        <div v-show="n===2">React</div>
        <div v-show="n===3">Vue</div> -->
       
        <!-- v-else和v-else-if -->
        <div v-if="n===1">Angular</div>
        <div v-else-if="n===2">React</div>
        <div v-else="n===3">Vue</div>

        <!-- template 只能和 v-if 配合使用 -->
        <template v-if="n===1">
            <h1>你好</h1>
            <h1>hello</h1>
        </template>
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false
        const vm = new Vue({
            el:'#root',
            data:{
                name:'中国',
                n:0
            }
        })
    </script>
 </body>
 </html>